postgres:
  connection_string: "${DATABASE_URL}"
  # ssl_cert: './postgresql.crt'
  # ssl_key: './postgresql.key'
  # ssl_root_cert: './root.crt'
  default_srid: 4326
  pool_size: 20
  max_feature_count: null
  auto_bounds: quick

  # tables:
  #   table.public.pois.point:
  #     schema: public
  #     table: pois
  #     id_column: id
  #     geometry_column: point
  #     srid: 4326
  #     geometry_type: POINT
  #     buffer: 254
  #     properties:
  #       id: text
  #       type: text
  #       name: text
  #       country: text
  #       state: text
  #       city: text
  #       street: text

  functions:
    pois:
      schema: public
      function: pois
      minzoom: 0
      maxzoom: 22
      query_parameters:
        - feature_ids
